@model ConditionFormViewModel
@{
    ViewData["Title"] = "Add ConditionEntity";
}

<h1>Add ConditionEntity</h1>

<form asp-action="CreateCondition" method="post">
    @Html.AntiForgeryToken()
    <div asp-validation-summary="ModelOnly"></div>

    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" />
        <span asp-validation-for="Name"></span>
    </div>

    <button type="submit">Save</button>
</form>

<p>
    <a asp-action="Conditions">Back to Conditions</a>
</p>
